@import url('https://fonts.googleapis.com/css2?family=Homemade Apple&display=swap');

.Nav{
    background: white;
    height: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 10px 0 rgba(115, 115, 115, 0.2);
}

.NavbarContainer{
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    align-items: center;
}

.NavPageContainer {
    padding-left: 17vw;
    display: flex;
    width: 50%;
}

.NavPage {
    font-family: Circular Std;
    margin: Auto;
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 30px 30px;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    transition: 0.3 ease-in-out;
    color: #414141;
    transition: 0.3s;
}

.NavPage::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;

    background-color: #2F8EFE;
    transform-origin: left top;
    transform: scale(0, 1);
    transition: color 0.3s, transform 0.3s ease-out;

}

.NavPage:active::before {
    background-color: #000;

}
.NavPage:hover::before, .NavPage:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.NavPage:hover {
    color: #2F8EFE;
    transition: 0.1s;
}

.NavSignInPrompt {
    color: #414141;
    transition: 0.4s;
    display: flex;
    flex-direction: row;
}

.NavSignInPromptArrow {
    position:relative;
    align-items:flex-end;
    transition: 0.4s;
    transform: translateX(5px);
}

.NavSignInPrompt:hover .NavSignInPromptArrow {
    transform: translateX(15px);
    color: #2F8EFE;    
}

.NavSignInPrompt:hover {
    color: #2F8EFE;    
}

.NavSignOut {
    font-family: Circular Std;
    display: none;
    font-size: 13px;
    color: #5d5d5d;
    transition: 0.4s;
}

.NavSignOut:hover {
    color: #ff6565;
    transition: 0.4s;
}

.HamburgerButton {
    position: relative;
    width: 38px;
    cursor: pointer;

    appearance: none;
    outline: none;
    background: none;
    border: none;
    display: none;
    z-index: 200;
}

.HamburgerButton .HamburgerBar, .HamburgerButton:after, .HamburgerButton:before  {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #1c1c1c;
    margin: 5px 0px;
    transition: 0.4s;
    background-color: #000;
}

.HamburgerButton.isactive:before {
    transform: rotate(-45deg) translate(-2px, 4px);
}

.HamburgerButton.isactive .HamburgerBar {
    opacity: 0;
}

.HamburgerButton.isactive:after {
    transform: rotate(45deg) translate(-7px, -9px);
}

.HamburgerMenu {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 2;
    background-color: #daebff;
    padding-top: 120px;
    transition: 0.4s;
}

.HamburgerMenu.isactive {
    left: 0;
}

.HamPage{
    font-family: Circular Std;
    display: block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto 16px;
    padding:12px 16px;
    color: #2F8EFE;
    background-color: #badaff;
}

.HamSignInPrompt {
    font-family: Circular Std;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto 16px;
    margin-top: 50px;
    padding:12px 16px;
    color: #414141;
}

.HamSignOut {
    font-family: Circular Std;
    display: block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto 16px;
    padding:12px 16px;
    color: #ff8787;
    border: 2px solid;
    border-color: #ff8787;
    border-radius: 2px;
}

.hamsellbtn {
    font-family: Circular Std;
    display: block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto 16px;
    padding:12px 16px;
    background-color: #2F8EFE;
    color: white;
    border: none;
}

.NavLogo{
    color: black;
    justify-self: flex-start;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 24px;
    text-decoration: none;
    font-family: Homemade Apple;
}



.signin{
    font-family: Circular Std;
    font-weight:540;
    font-size: 17px;
    color: #878787
}
.sellbtn{
    flex: 1 1 auto;
    margin-right: 20px;
    padding: 10px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 0;
    box-shadow: none;
}

.sellbtn:hover {
    background-position: right center;
  }

.sellbtn {
    background-image: linear-gradient(to right, #2F8EFE 0%, #1dd6b4 51%, #2F8EFE 100%);
}

.fileinput{
    /* display: block; */
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.centeralign {
  padding: 0 2rem;
}

.centeralign {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img_select{
    border: 3px dashed #999999;
    width:350px;
    line-height: 320px;
    height: 320px;
    border-radius: 21px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}
.imagelistinglabel{
    font-weight: 500;
    font-size: 18px;
}
.sizeparam{
    color: #000000;
    opacity: 0.4;
    font-weight: 500;
    font-size: 18px;
    margin-top: -10px;
}
.authlabel{
    display: block;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.authinput{
    display: block;
    width: 350px;
    margin-bottom: 25px;
    margin: 0 auto;
    background: #F0F0F0;
    border-radius: 7px;
    border: none;
    height: 30px;
    padding-left: 20px;
}
.prodlabel{
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;

}
.prodinput{
    height: 30px;
    display: block;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 25px;
    background: #F0F0F0;
    border-radius: 7px;
    border: none;
    padding-left: 20px;

}
.prodpricelabel{
    margin-bottom: 10px;
    margin-top: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
}
.prodprice{
    height: 30px;
    display: block;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 25px;
    background: #F0F0F0;
    border-radius: 7px;
    border: none;
    padding-left: 20px;

}
.proddatelabel{
    margin-bottom: 10px;
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
    display: block;
}
.proddate{
    height: 30px;
    display: block;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 25px;
    background: #F0F0F0;
    border-radius: 7px;
    border: none;
    padding-left: 20px;

}
.proddesclabel{
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    display: block;
}
.proddesc{
    display: block;
    margin: 0 auto;
    width: 350px;
    background: #F0F0F0;
    border-radius: 7px;
    height: 244px;
    margin-bottom: 25px;
    border: none;
    padding-left: 20px;

}
.uploadbtn{
    margin-top: 25px;
    margin: 0 auto;
    text-align: center;
    display: block;
    background: #2F8EFE;
    border-radius: 7px;
    width: 250px;
    height: 40px;
    border-color: #2F8EFE;
    color: white;
    font-weight: 400;
    font-size: 14px;
}
.listinglabel{
    margin-top: -20px;
}

.prodcond{
    width: 90px;
    background: #F0F0F0;
    border-radius: 7px;
    border: none;
    /* padding-left: 20px; */
    height: 35px;
}
.prodcondlabel{
    font-weight: bold;
    margin-right: 5px;
}
.prodaction{
    width: 90px;
    background: #F0F0F0;
    border-radius: 7px;
    border: none;
    /* padding-left: 20px; */
    height: 35px;
}
.separator{
    display: inline-block;
}
.prodactionlabel{
    margin-left: 20px;
    font-weight: bold;
    margin-right: 5px;
}
.proddate{
    margin-bottom: 20px;
}

.NavbarContainer{
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    /* padding: 0 24px; */
    align-items: center;
}
.NavLogo{
    color: black;
    justify-self: flex-start;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 24px;
    text-decoration: none;
    font-family: Homemade Apple;
}


@media screen and (max-width:1300px) {
    /* For tablets: */
 
        .HamburgerButton {
           display : block;
        }

        .HamburgerButton {
            display : block;
         }
 
 
         .NavPageContainer {
         display: none;
         }
 
         .NavSignInPrompt {
         display: none;
         }
 
         .sellbtn {
         display: none;
         }

         .NavSignOut{
            display: none;
         }

         .signout{
            display: none;
         }
}

.signout{
    /* flex: 1 1 auto; */
    margin-right: 20px;
    padding: 10px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 0;
    box-shadow: none;
    font-size: 13.5px;
}

.signout:hover {
    background-position: right center;
  }

.signout {
    background-image: linear-gradient(to right, #2F8EFE 0%, #1dd6b4 51%, #2F8EFE 100%);
}