@import url('https://fonts.googleapis.com/css2?family=Homemade Apple&display=swap');


.Nav{
    background: white;
    height: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.NavbarContainer{
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    align-items: center;
}

.NavPageContainer {
    padding-left: 17vw;
    display: flex;
    width: 50%;
}

.NavPage {
    margin: Auto;
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 30px 30px;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    transition: 0.3 ease-in-out;
    color: #414141;
    transition: 0.3s;
}

.NavPage::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;

    background-color: #2F8EFE;
    transform-origin: left top;
    transform: scale(0, 1);
    transition: color 0.3s, transform 0.3s ease-out;

}

.NavPage:active::before {
    background-color: #000;

}
.NavPage:hover::before, .NavPage:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.NavPage:hover {
    color: #2F8EFE;
    transition: 0.1s;
}

.NavSignInPrompt {
    color: #414141;
    transition: 0.4s;
    display: flex;
    flex-direction: row;
}

.NavSignInPromptArrow {
    position:relative;
    align-items:flex-end;
    transition: 0.4s;
    transform: translateX(5px);
}

.NavSignInPrompt:hover .NavSignInPromptArrow {
    transform: translateX(15px);
    color: #2F8EFE;    
}

.NavSignInPrompt:hover {
    color: #2F8EFE;    
}

.HamburgerButton {
    position: relative;
    width: 35px;
    cursor: pointer;

    appearance: none;
    outline: none;
    background: none;
    border: none;
    display: none;
}

.HamburgerButton .HamburgerBar, .HamburgerButton:after, .HamburgerButton:before  {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #1c1c1c;
    margin: 6px 0px;
    transition: 0.4s;
    background-color: #000;
}

.HamburgerButton.isactive:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.HamburgerButton.isactive .HamburgerBar {
    opacity: 0;
}

.HamburgerButton.isactive:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.NavLogo{
    color: black;
    justify-self: flex-start;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 24px;
    text-decoration: none;
    font-family: Homemade Apple;
}



.signin{
    font-family: Circular Std;
    font-weight:540;
    font-size: 17px;
    color: #878787
}
.sellbtn{
    flex: 1 1 auto;
    margin-right: 20px;
    padding: 10px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 0;
    box-shadow: none;
}

.sellbtn:hover {
    background-position: right center;
  }

.sellbtn {
    background-image: linear-gradient(to right, #2F8EFE 0%, #1dd6b4 51%, #2F8EFE 100%);
}

.searchbar{
    margin:0 auto;
    width:45%;
    border-radius:30px;
    border:1px solid #dcdcdc;
    background-color: white;
    display: none;
}

.searchbar:hover{
    box-shadow: 1px 1px 8px 1px #1c1c1c;
}

.searchbar:focus-within{
    box-shadow: 1px 1px 8px 1px #1c1c1c;
    outline:none;
}

.searchfield {
    height:45px;
    border:none;
    width: 88%;
    font-size:16px;
    outline: none;
    margin-left: 20px;
}

.fileinput{
    /* display: block; */
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.centeralign {
  padding: 0 2rem;
}

.centeralign {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img_select{
    border: 3px dashed #999999;
    width:350px;
    line-height: 320px;
    height: 320px;
    border-radius: 21px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}
.imagelistinglabel{
    font-weight: 500;
    font-size: 18px;
}
.sizeparam{
    color: #000000;
    opacity: 0.4;
    font-weight: 500;
    font-size: 18px;
    margin-top: -10px;
}
.authlabel{
    display: block;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.authinput{
    display: block;
    width: 350px;
    margin-bottom: 25px;
    margin: 0 auto;
    background: #F0F0F0;
    border-radius: 7px;
    border: none;
    height: 30px;
    padding-left: 20px;
}
.prodlabel{
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;

}
.prodinput{
    height: 30px;
    display: block;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 25px;
    background: #F0F0F0;
    border-radius: 7px;
    border: none;
    padding-left: 20px;

}
.prodpricelabel{
    margin-bottom: 10px;
    margin-top: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
}
.prodprice{
    height: 30px;
    display: block;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 25px;
    background: #F0F0F0;
    border-radius: 7px;
    border: none;
    padding-left: 20px;

}
.proddatelabel{
    margin-bottom: 10px;
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
    display: block;
}
.proddate{
    height: 30px;
    display: block;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 25px;
    background: #F0F0F0;
    border-radius: 7px;
    border: none;
    padding-left: 20px;

}
.proddesclabel{
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    display: block;
}
.proddesc{
    display: block;
    margin: 0 auto;
    width: 350px;
    background: #F0F0F0;
    border-radius: 7px;
    height: 244px;
    margin-bottom: 25px;
    border: none;
    padding-left: 20px;

}
.uploadbtn{
    margin-top: 25px;
    margin: 0 auto;
    text-align: center;
    display: block;
    background: #2F8EFE;
    border-radius: 7px;
    width: 250px;
    height: 40px;
    border-color: #2F8EFE;
    color: white;
    font-weight: 400;
    font-size: 14px;
}
.listinglabel{
    margin-top: -20px;
}

.prodcond{
    width: 90px;
    background: #F0F0F0;
    border-radius: 7px;
    border: none;
    /* padding-left: 20px; */
    height: 35px;
}
.prodcondlabel{
    font-weight: bold;
    margin-right: 5px;
}
.prodaction{
    width: 90px;
    background: #F0F0F0;
    border-radius: 7px;
    border: none;
    /* padding-left: 20px; */
    height: 35px;
}
.separator{
    display: inline-block;
}
.prodactionlabel{
    margin-left: 20px;
    font-weight: bold;
    margin-right: 5px;
}
.proddate{
    margin-bottom: 20px;
}

.NavbarContainer{
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    /* padding: 0 24px; */
    align-items: center;
}
.NavLogo{
    color: black;
    justify-self: flex-start;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 24px;
    text-decoration: none;
    font-family: Homemade Apple;
}
.btn {
    position: relative;
    /* display: block; */
    width: 84px;
    height: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.btn span {
    position: absolute;
    /* changed to 48 from 68 */
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}
 
.btn span:before,
.btn span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}
.btns .btn {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%); */
    background-color: white;
    display: inline-flex;
    margin-top: 68px;
    margin-left: 29px;
    height: 35px;
    width: 100px;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    opacity:0.9;
}
.btns{
    margin: auto;
    width: 100%;
    text-align: center;
    /* padding: 10px; */
}
  
.btns .btn:hover {
    background-color: black;
    color: white;
}
  
.searchbtns .btn {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%); */
    background-color: #f1f1f1;
    display: inline-flex;
    margin-top: 40px;
    margin-left: 29px;
    height: 5px;
    width: 500px;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.subheadtext{
    margin-top: 15px;
    color: white;
    font-family: Circular Std;
    font-stretch:wider;
    font-weight: 400;
  }
.textheader{
    text-align: center;
}

.parentheadtext{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.searchbtns{
    margin: auto;
    width: 100%;
    text-align: center;
    /* padding: 10px; */
}
.menufonts{
    font-family: Circular Std;
    font-weight:540;
    font-size: 17px;
    color: #878787;
}
.signin{
    font-family: Circular Std;
    font-weight:540;
    font-size: 17px;
    color: #878787
}

.imagegrid {
    --gap: 16px;
    --num-cols: 3;
    --row-height: 569px;
  
    box-sizing: border-box;
    padding: var(--gap);
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}
  
.imagegrid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.imagegrid-col-2 {
    grid-column: span 2;
}
  
.imagegrid-row-2 {
    grid-row: span 2;
}

.productlayer{
    width: 491px;
    height: 124px;
    left: 102px;
    top: 1416px;
    margin-top: -129px;
    background: #000000;
    opacity: 0.68;
    color:white;
    padding: 30px;
}
.productdescription{
    margin-top: -10px;
}
.pricebtn {
    position: relative;
    /* display: block; */
    width: 84px;
    height: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -3px;
    text-align: center;
}
.pricebtn span {
    position: absolute;
    /* changed to 48 from 68 */
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
    text-align: center;
}

.pricebtn {
    background-color: none;
    display: inline-flex;
    height: 35px;
    width: 100px;
    color: white;
    font-size: 37px;
    padding: 16px 30px;
    border: none;
    text-align: center;
    float: right;
    
}
.headerimagecontainer{
    background-image: url("https://luthermarketplace.w3spaces.com/images/image1-copy.png?bypass-cache=63318117");
    background-color: black;
    height: 460px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-image:cross-fade(50); */
  }

  .dropbtn {
    
    background-color: #f1f4f7;
    color: grey;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid;
    border-color: grey;
    width: 130px;
    height: 40px;
    text-align: center;
    align-items: center;
    font-family: Circular Std;
    font-size: 14px;
    transition: 0.2s;
}

.dropdowncontainer {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    background-color: #f1f4f7;
}
  
.dropdown {
    position: relative;
    display: none;
    text-align: center;
    align-items: center;
}
  
.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    align-items:center;
    opacity: 0.85;
    border-radius: 12px;
}
  
.dropdowncontent a {
    color: black;
    padding: 12px 16px;
    display: block;
    transition: 0.2s;
}
  
.dropdowncontent a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdowncontent {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #2F8EFE;
    color: white;
    border-color: #2F8EFE;
    transition: 0.2s;
}

.dropbtn2 {
    background-color: #f1f4f7;
    color: grey;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid;
    border-color: grey;
    width: 100px;
    height: 40px;
    text-align: center;
    align-items: center;
    font-family: Circular Std;
    font-size: 14px;
    transition: 0.2s;
    
}
  
.dropdown2 {
    position: relative;
    display: none;
    text-align: center;
    align-items: center;
}
  
.dropdowncontent2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    align-items:center;
    margin-left: -60px;
    opacity: 0.85;
    border-radius: 12px;
}
  
.dropdowncontent2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdowncontent2 a:hover {background-color: #f1f1f1}
  
.dropdown2:hover .dropdowncontent2 {
    display: block;
}
  
.dropdown2:hover .dropbtn2 {
    background-color: #2F8EFE;
    color: white;
    border-color: #2F8EFE;
    transition: 0.2s;
}

.productgrid {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 0px 0px 0px;
    background-color: #f1f4f7;
    padding-bottom: 60px;
}

.productlinkbox {
    display: inline-flex;
}

.productgrid .productcard {
    width: 330px;
    background: white;
    position: relative;
    overflow: hidden;
    margin: 10px;
    transition: 0.3s;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid;
    border-color: #2f90fe00;
}

.productgrid .productcard:hover {
    border: 1px solid;
    border-color: #2F8EFE;
    box-shadow: 1px 1px 20px -3px #b6b9ba;
    transition: 0.3s;

}

.productgrid .productcard:hover .productcontent .productdetails {
    color: #2F8EFE;
    transition: 0.3s;
}

.productgrid .productcard .productimage {
    height: 12rem;
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    transition: 0.3s;
}

.productcard:hover .productimage {
    transform: scale(1.05);
    transition: 0.3s;
}

.productgrid .productcard .productcontent {
    padding: 10px 20px 22px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}


.productcontent .productdetails {
    margin-top: 5px;
    font-size: 26px;
    font-weight: 700;
    max-width: 100%;
    transition: 0.3s;
}

.productcontent .productbio {
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 11px;
    font-weight: 300;
    color: #666666;
}

.productcontent .productprice {
    font-size: 30px;
    font-family: Circular Std;
    font-weight: 300;
    color: #2F8EFE;
}

.productcontent .productcondition {
    display: inline-block;
    margin-top: 10px;
    padding: 9px 9px;
    font-size: 9px;
    font-weight: 700;
    background-color: white;
    text-align: center;
    line-height: 0px;
    color: #2F8EFE;
    border: 1px solid;
    border-color: #2F8EFE;
    border-radius: 20px;
}

.productconditiontext {
    margin: 0px;
}


@media screen and (max-width:600px) {
    /* For mobile phones: */
        .searchfield {
            width: Auto;
            margin-left: 20px;
        }

        .searchbar {
            width: 90%;
        }

        
}

@media screen and (max-width:1300px) {
    /* For tablets: */
 
        .HamburgerButton {
           display : block;
        }

        .HamburgerButton {
            display : block;
         }
 
 
         .NavPageContainer {
         display: none;
         }
 
         .NavSignInPrompt {
         display: none;
         }
 
         .sellbtn {
         display: none;
         }
}